<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h1>Message from Click and Collect user: <%= @name %></h1>
    <p><%= @email %></p>
    <p><%= @message %></p>
  </body>
</html>