<html>
    <h1>Contact Site Owners</h1>
    <br>
    <body>
        <form>
            <div class = "form-group">
                <label for = "formGroupUser">Username</label>
                <input type = "text" class = "form-control" id = "formGroupUser" placeholder = "E.G. cc01748">
            </div>
            <div class = "form-group">
                <label for = "formGroupEmail">Email</label>
                <input type = "email" class = "form-control" id = "formGroupEmail" placeholder = "E.G. cc01748@surrey.ac.uk">
            </div>
            <div class = "form-group">
                <label for = "formGroupMessage">Message</label>
                <textarea class = "form-control" id = "formGroupMessage" placeholder = "Type your message here" >
                </textarea>
            </div>
        </form>
        <button type = "button" class = "btn btn-primary">Submit</button>
    </body>
</html>