<html>

    <body>
        <h1>Current Orders</h1>

        <table class = "table">
            <thead class = "thead-light">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>Unpicked/picked</td>
                    <td>Collection time warning</td>
                    <td>GO TO</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
