<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <h1><%=t('orders.page_title') %></h1>

        <table class = "table">
            <thead class = "thead-light">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Status</th>
                    <th>Date/time</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>Unpicked/picked</td>
                    <td>20:47 02/11/20</td>
                    <td>Collection time warning</td>
                    <td><button type = "button" class = "btn btn-link" id = "test">GO TO</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
