<head>
</head>

<!-- Loop through hashmap of orders based on status and display them -->
<div class = "main_text">
    <h1><%=t('overview.page_title') %></h1>
        <% @ordersStatusCount.each do |key, value| %>
            <p><%= key + " orders" + " - " + value.to_s %><p>
        <% end %>
</div>


</html>

