<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>

    <body>
        <h1><%=t('overview.page_title') %></h1>
        <p>New orders today: 0</p>
        <p>Orders collected today: 0</p>
        <p>Unresolved orders today: 0 </p>
    <%= yield %>
    </body>

</html>

