<!DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <h1><%=t('resolved_orders.page_title') %></h1>

        <table class = "table">
            <thead class = "thead-light">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Status</th>
                    <th>Date/time collected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Tim</td>
                    <td>Able</td>
                    <td>Collected</td>
                    <td>19:42 02/11/2020</td>
                    <td><button type = "button" class = "btn btn-link">GO TO</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
